* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

body {
    height: 100vh;
    background-image: linear-gradient(to right, #1F5F5B, #062315);
}

html {
    scroll-behavior: smooth;
}

.navigation {
    width: 100%;
    height: 50px;
    background-color: black;
}

ul {
    display: none;
}

.container {
    width: 100%;
    height: calc(100% - 50px);
}

.wrapper-slider {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.content {
    width: 100%;
}

.imagens-game h1,
.imagens-game p,
.social-media .social-media-content h2,
.social-media .social-media-content h3{
    color: black;
}

.presentation div {
    display: flex;
    align-items: center;
}

.container-game a {
    font-size: 30px;
}

.slider-item .image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
}

.slider-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.presentation {
    display: flex;
    justify-content: space-between;
}

.presentation button {
    font-size: 25px;
    margin: 0;
    border: 0;
    background: 0;
    cursor: pointer;
}

.container-game {
    max-width: 1440px;
    margin: auto;
}

video {
    width: 100%;
    margin-bottom: 50px;

    border-radius: 8px;
}

.about-game {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
}

main {
    padding-bottom: 20px;
}

.social-media {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media img {
    height: 130px;
}

.presentation img {
    height: 100px;
}

.social-media-content img {
    height: 300px;
}

.social-media h2 {
    font-size: 70px;
}

.social-media h3 {
    font-size: 20px;
}

.social-media-content {
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.social-media .button,
.download .button {
    background-image: linear-gradient(92.88deg, #ad791a 9.16%, #bd841b 43.89%, #d19107 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: auto;
    padding-inline: 50px;
}

.social-media .button:hover,
.download .button:hover {
  box-shadow: rgba(136, 105, 5, 0.897) 0 1px 30px;
  transition-duration: .1s;
}


.download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;

    margin-inline: auto;
    padding-block: 50px;
    font-size: 28px;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding-block: 50px;
  
    margin-top: 30px;
    text-align: center;
    margin: 0;
    background-color: rgb(29, 29, 29);
    color: white;
  }
  
  
  .footer-content {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

a {
    text-decoration: none;
}

.social-links {
    display: flex;
    gap: 20px;
}


section.imagens-game,
section.social-media {
    background-color: white;
}

.img-content {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.img-content div {
    padding-inline: 40px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-content img{
    width: 50%;
}

.imagens-game {
    padding-block: 50px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}